# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Notebooks
.ipynb_checkpoints/
.DS_Store

# Virtual envs
venv/
.env/
.venv/

# Data folders (ignored)
data/
data_splitted/
features_hybrid/

# Logs & misc
logs/
*.log
